.about{
    background-color: #F9F9F9;
   
}
.about__title{
    font-size: 48px;
    font-weight: lighter;
    color:  #333333;
    padding: 8rem 0 6rem 0;
    text-align: center;
}
.about__team{
    padding: 0 0 10rem 0;
}
.team__list{
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    
}
.team__item{
    width: 33.3%;
    margin-top: 2rem;
}
.team__info{
    padding-top: 5rem;
    padding-left: 4rem;
    padding-bottom: 5rem;
    position: relative;
    background-color: white;
}
.team__name{
    font-size: 32px;
    color: #333333;
    font-weight: lighter;
    margin-bottom: 16px;
}
.team__position{
    font-size: 18px;
    color: #333333;
    margin-bottom: 16px;
}
.team__decs{
    font-size: 16px;
    color: #575757;
    line-height: 25px;
   
}
.team__item{
    display: flex;
    flex-direction: column;
   
}
.team__item:nth-child(2) .team__img{
    order: 1;
}
.team__info::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-100%);
    /* transform: translateX(-50%); */
    height: 15px;
    width: 30px;
    background-color: white;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}
.team__item:nth-child(2) .team__info::after{
    top: 100%;
    transform: rotate(180deg);
}

@media screen and (max-width: 767px){
    .team__list{
        flex-direction: column;
        align-items: center;
    }
    .team__item{
        width: 100%;
    }
    .about .container{
        min-width: 100%;
    }
    .team__item:nth-child(2) .team__info{
        order: 1;
    }
    .team__item:nth-child(2) .team__info::after{
        top: -15px;
        transform: (-50%,-100%);
        transform: rotate(360deg);
    }
    
    
}
